# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Big stuff you do NOT need on GitHub
*.mp4
*.avi
*.mov

# OneDrive junk
~$*
